<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book info</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: #d3d3d3;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js">
    </script>
</head>
<body>
<a href="/book">Return to book</a>
    <form id="book-form" action="javascript:void(0);">
    <h1>New Book:</h1>

    <div class="row" hidden>
        <label for="id-input">id:</label>
        <input id="id-input" name="id" type="text" readonly="readonly" th:value="${book.id}" value="0"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" th:value="${book.name}"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <select id="author-input" th:field="${book.author.id}">
            <option th:each="author : ${author}" th:value="${author.id}" th:text="${author.name}"></option>
        </select>
    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <select id="genre-input" th:field="${book.genre.id}">
            <option th:each="genre : ${genre}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>

</form>
<script inline="javascript">
    var bookId = $('#id-input')[0].value;

    /*Add книги*/
    $('#book-form').on('submit', (function (e) {
        var data = {
            "name": $('#name-input')[0].value,
            "authorid": $('#author-input option:selected')[0].value,
            "genreid": $('#genre-input option:selected')[0].value
        }
        $.ajax({
            type: "POST",
            url: '/api/bookAdd/' + bookId,
            data: data
        });
    }));

</script>
</body>
