<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book info</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: #d3d3d3;
        }

        .row {
            margin-top: 10px;
        }

        .comments, .comments td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<a href="/book">Return to book</a>
<form id="book-form" th:action="@{/edit/__${book.id}__}" th:method="post" action="bookEdit.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" th:value="${book.name}"/>
    </div>

    <div class="row">
        <label for="author">Author:</label>
        <select id="author" th:field="${book.author.id}">
            <option th:each="author : ${author}" th:value="${author.id}" th:text="${author.name}"></option>
        </select>
    </div>

    <div class="row">
        <label for="genre">Genre:</label>
        <select id="genre" th:field="*{book.genre.id}">
            <option th:each="genre : ${genre}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>

</form>

</body>
</html>