<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- TODO: определите бин класса ru.otus.spring.dao.PersonDaoSimple -->
    <bean id="QuestionDao" class="ru.otus.spring.dao.QuestionDaoImpl">
       <constructor-arg name="filName" value="questions.csv"/>
   </bean>

    <!-- TODO: определите бин класса ru.otus.spring.PersonServiceImpl -->
    <bean id="QuestionService" class="ru.otus.spring.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="QuestionDao"/>
    </bean>

</beans>
